# Default paths
DATA_DIR=data_dir
DATA_DOCS_PATHS_TEXT_FILE=data_docs_paths
DATA_WEBS_PATHS_TEXT_FILE=data_webs_paths
PERSIST_DIR=data_index

# LLM
OLLAMA_MODEL=llama3
EMBEDDINGS_BACKEND=ollama
EMBEDDINGS_MODEL=nomic-embed-text

PROMPTS=default_en

# Retrieval / chunking
TOP_K=1
CHUNK_SIZE=1
CHUNK_OVERLAP=1
