# Avoid uploading data
data/

# Avoid uploading indexed data
index/

# Avoid uploading environment variables
.env
data/webs_paths.txt
data/docs_paths.txt

# Python bytecode / caches
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
