[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
beautifulsoup4 = "*"
python-docx = "*"
streamlit = "*"
raganything = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
