[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "*"
langchain-community = "*"
langchain-ollama = "*"
beautifulsoup4 = "*"
pypdf = "*"
faiss-cpu = "*"
python-docx = "*"

[dev-packages]

[requires]
python_version = "3.12"
